@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800&display=swap');
body{
    font-family: 'Montserrat', sans-serif;
}
$primary-color: #fff; // o este azul marico casi negro: 0A0B1F
$secondary-color: #001F3F; //o este color verde oscuro#36574f



.title{
    @apply text-3xl md:text-4xl xl:text-6xl font-extrabold;
}
.title-2{
  @apply text-4xl md:text-5xl xl:text-6xl tracking-wider font-bold;
}
.sub-title{
    @apply text-2xl md:text-3xl xl:text-4xl font-bold;
}
// buttons 
.button-small {
    @apply py-2 px-5 lg:py-2.5 lg:px-8 rounded-full duration-200 cursor-pointer text-xs;
    &.primary{
        @apply bg-primary text-white shine-effect hover:scale-105 ease-in-out;
    }
    &.secondary{
        @apply bg-secondary/90 text-white shine-effect hover:scale-105 ease-in-out;
    }
}
.button {
    @apply px-8 py-3.5 rounded-full duration-200 cursor-pointer;

    &.primary{
        @apply bg-primary text-white shine-effect hover:scale-105 ease-in-out;
    }
    &.secondary{
        @apply bg-secondary/90 text-white shine-effect hover:scale-105 ease-in-out;
    }
}


.chevron-class{ @apply p-5 bg-gray-50 hover:bg-slate-100 hover:bg-opacity-80 duration-200 bg-opacity-40 text-tertiary text-sm h-2 w-2 lg:text-lg lg:h-3.5 lg:w-3.5 flex items-center justify-center rounded-full cursor-pointer mx-1 lg:mx-0}
.carousel-indicators{@apply cursor-pointer h-12 bg-gray-300 hover:bg-white hover:h-9 duration-300 hover:duration-200 ease-in-out  rounded-full p-4 flex items-center justify-center text-tertiary}
.input {
    @apply w-full p-2.5 border border-primary/50 rounded-md mt-2
  }
  .shine-effect {
    position: relative;
    overflow: hidden;
}

.shine-effect::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 50%;
    height: 100%;
    background: rgba(255, 255, 255, 0.6);
    transform: skewX(-25deg);
    transition: all 0.7s;
    pointer-events: none;
}

.shine-effect:hover::before {
    left: 200%;
}