@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800&display=swap');
body{
    font-family: 'Montserrat', sans-serif;
}
$primary-color: #fff; // o este azul marico casi negro: 0A0B1F
$secondary-color: #001F3F; //o este color verde oscuro#36574f


.shine-effect {
    position: relative;
    overflow: hidden;
}

.shine-effect::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 50%;
    height: 100%;
    background: rgba(255, 255, 255, 0.6);
    transform: skewX(-25deg);
    transition: all 0.7s;
    pointer-events: none;
}

.shine-effect:hover::before {
    left: 200%;
}

.subtitle{@apply text-secondary mb-2 font-medium }
.chevron-class{ @apply p-5 bg-gray-50 hover:bg-slate-100 hover:bg-opacity-80 duration-200 bg-opacity-40 text-tertiary text-sm h-2 w-2 lg:text-lg lg:h-3.5 lg:w-3.5 flex items-center justify-center rounded-full cursor-pointer mx-1 lg:mx-0}
.carousel-indicators{@apply flex items-center w-auto h-12 absolute bottom-0 space-x-3 lg:space-x-4}